node_modules
vendor
public/build
storage/*.key
.env
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
.phpunit.result.cache
.editorconfig
.nvmrc
pnpm-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.vscode
.idea
tests
phpunit.xml
Caddyfile
README.md
